body {
    font-family: 'Comfortaa', cursive;
    background-color: rgba(31, 15, 30, 0.903);
}

.nav-link:hover {
    color: #ff4c68 !important;
}

.Create {
    background-image: linear-gradient(300deg,
            #00bfff,
            #ff4c68,
            #ef8172);

    border: none;
}

.Create:hover {
    background-image: linear-gradient(300deg, #00bfffb0, #ff4c68b0, #ef8172b0);
}

.AboutContainer{
    background-color: black;
    border-top: 2px solid gray;
}